**Question** 1)Explain the key features of Python that make it a popular choice for programming.
 Ans: Python is popular for programming because of it widly used in industry like data industry,forntent backent data industry,data analyais etc. Some key feature of python are as follow:
 i)Easy to learn
 ii)Versatility and Extensibility
 iii)A lot of liabery
 iv)Huge active community

**Question 2**)Describe the role of predefined keywords in Python and provide examples of how they are used in a
program.
Ans:In Python, predefined keywords (often referred to simply as keywords) are reserved words that have special meaning in the language. These words cannot be used as identifiers (such as variable names, function names, or class names) because they are integral to the syntax and functionality of Python.as
i)Number are Integers and Float.
ii)Character are string in python.
iii)True/False are used as Boolean value.
iv)None is define as none.
Example are as follws:

In [ ]:
name = "Tuhin"
name

'Tuhin'

In [ ]:
type(name)

str

as defined in above charater are defind in string and string value will be in double inverted comma.

In [ ]:
a=5
a

5

In [ ]:
type(a)

int

as defined above numbers are defind in integers.

In [ ]:
a=4.5
a

4.5

In [ ]:
type(a)

float

In python float values are defined as decimal

In [ ]:
name = 2
name

2

In [ ]:
type (name)

int

In [ ]:
c=True
type(c)

bool

In [ ]:
d=False
type(d)

bool

This are some predefined keword in python.

In [ ]:
print ("Hello world")

Hello world

In [ ]:
a=6
type (a)

int

In [ ]:
#This print and type are predefine words that has speacial meaning and has speacial purpose in python programming.

**Question 3**) Compare and contrast mutable and immutable objects in Python with examples.
Ans: Objects whose state or value can be changed after they are created are called mutable objects where item can be change from the list. example are as follws

In [ ]:
List_count=[1,2,3,4.3,"Rohit"]
List_count

[1, 2, 3, 4.3, 'Rohit']

In [ ]:
List_count[4]="Virat"
List_count

[1, 2, 3, 4.3, 'Virat']

In [ ]:
List_count[0]=100
List_count

[100, 2, 3, 4.3, 'Virat']

In [ ]:
#as per list_count is an example where mutable value can be changed .

In [ ]:
"""Object whose state or value cannot be changed after they are created are called immutable object.String is an immutable object dosen't support item assignment. Some examples are as follows"""

In [ ]:
b="Pwskills"
b

'Pwskills'

In [ ]:
b[0]="i"

TypeError: 'str' object does not support item assignment

In [ ]:
#as imforemd earlier that object which cannot be changed after creation is called immutable object.

**Question** 4 bold text) Discuss the different types of operators in Python and provide examples of how they are used.
Ans: Python operators are speacial keword or symbol that are used to perform operation on value or variable.The different type of oprators are as follows:

i)Arithmatic operators
ii)Comparison operators
iii)Logical operators
iv)Bitwise operators
 v)Assignment operators
vi)Membership operators
vii)identity operators


i.) Arithmetic Operators
Arithmetic operators are used to perform basic mathematical operations.

Addition (+): Adds two operands.
Subtraction (-): Subtracts the right operand from the left operand.
Multiplication (*): Multiplies two operands.
Division (/): Divides the left operand by the right operand (always returns a float).
Floor Division (//): Divides and returns the largest integer less than or equal to the result (integer division).
Modulus (%): Returns the remainder of the division.
Exponentiation (**): Raises the left operand to the power of the right operand.

In [ ]:
#Example
a=20
b=12

print (a+b) # 32
print (a-b) #8
print (a*b) #240
print (a/b) #1.66666
print (a//b) #1
print (a%b)  #8
print (a**b) #4096000000000000

32
8
240
1.6666666666666667
1
8
4096000000000000

ii.) Comparison Operators
Comparison operators are used to compare two values. They return a boolean result (True or False).

Equal to (==): Checks if two values are equal.
Not equal to (!=): Checks if two values are not equal.
Greater than (>): Checks if the left operand is greater than the right.
Less than (<): Checks if the left operand is less than the right.
Greater than or equal to (>=): Checks if the left operand is greater than or equal to the right.
Less than or equal to (<=): Checks if the left operand is less than or equal to the right.

In [ ]:
#Example
x = 5
y = 3

print(x == y)  # False
print(x != y)  # True
print(x > y)   # True
print(x < y)   # False
print(x >= y)  # True
print(x <= y)  # False

False
True
True
False
True
False

iii.) Logical Operators
Logical operators are used to combine conditional statements.

AND (and): Returns True if both conditions are true.
OR (or): Returns True if at least one of the conditions is true.
NOT (not): Inverts the boolean value (True becomes False, and False becomes True).

In [ ]:
#Example
a = True
b = False

print(a and b)  # False
print(a or b)   # True
print(not a)    # False

False
True
False

iv.)Assignment Operators.
These operators are used to assign values to variables.
=: Simple assignment.
+=: Adds the right operand to the left operand and assigns the result to the left operand.
-=: Subtracts the right operand from the left operand and assigns the result.
*=: Multiplies the left operand by the right operand and assigns the result.
/=: Divides the left operand by the right operand and assigns the result.
//=: Performs floor division and assigns the result.
%=: Performs modulus and assigns the result.
**=: Performs exponentiation and assigns the result.

In [ ]:
x = 10
x += 5  # x = x + 5 => 15
print(x)  # 15

x *= 2  # x = x * 2 => 30
print(x)  # 30

x /= 3  # x = x / 3 => 10.0
print(x)  # 10.0

15
30
10.0

v.)Membership Operators
These operators are used to test whether a value is present in a sequence (such as a list, tuple, or string).

in: Returns True if the value is found in the sequence.
not in: Returns True if the value is not found in the sequence.

In [ ]:
a= "Tuhin"
print ("i" in a) #True

True

In [ ]:
print ("i" not in a) # False

False

In [ ]:
city=("Mumbai","Kolkata","Delhi")
print ("Mumbai" in city)# True
print ("Kolkata" not in city) # False

True
False

vi.) Identity Operators
These operators are used to compare the memory locations of two objects.
is: Returns True if both operands refer to the same object.
is not: Returns True if both operands do not refer to the same object.

In [ ]:
a = [1, 2, 3]
b = a
c = [1, 2, 3]

print(a is b)       # True, since a and b refer to the same object
print(a is c)       # False, since a and c are two different objects
print(a is not c)   # True, since a and c are different objects

True
False
True

vii.)Bitwise Operators
These operators work on the binary representation of integers.
& (AND): Performs bitwise AND operation.
| (OR): Performs bitwise OR operation.
^ (XOR): Performs bitwise XOR operation.
~ (NOT): Performs bitwise NOT operation (inverts the bits).
<< (Left shift): Shifts bits to the left by the specified number of positions.
>> (Right shift): Shifts bits to the right by the specified number of positio

In [ ]:
a = 5  # 0101 in binary
b = 3  # 0011 in binary

print(a & b)  # 1 (0001 in binary)
print(a | b)  # 7 (0111 in binary)
print(a ^ b)  # 6 (0110 in binary)
print(~a)     # -6 (bitwise NOT of 5)
print(a << 1) # 10 (1010 in binary, left shift by 1)
print(a >> 1) # 2 (0010 in binary, right shift by 1)

1
7
6
-6
10
2

**Question 5**)Explain the concept of type casting in Python with examples.
Ans:Type casting/type conversion is the process of changing the date type of value/obejctwhile executing/compution using operators. Type casting can be done by implicit either explicit. Example are as follows:

i.)1. Implicit Type Casting
Python understand data types (e.g., integers) to larger data types (e.g., floating-point numbers) when necessary.

In [ ]:
# Implicit Type Casting
a = 5        # Integer
b = 2.5      # Float

# Python will automatically convert 'a' to float
result = a + b
print(result)  # Output: 7.5

7.5

ii.) Explicit Type Casting
Explicit type casting allows you to convert data from one type to another using built-in functions such as int(), float(), str(), etc.

In [ ]:
# Example i (converting float to integer)
# Explicit Type Casting
x = 5.7
y = int(x)  # Convert float to integer
print(y)  # Output: 5

5

In [ ]:
# Example ii (Converting number to string)
a = 100
b = str(a)  # Convert integer to string
print(b)  # Output: "100"

100

**Question 6**) How do conditional statements work in Python? Illustrate with examples.
Ans:Conditional statements in Python allow you to execute certain blocks of code based on whether a condition (or a set of conditions) evaluates to True or False. The most common types of conditional statements in Python are
if statement
if-else statement
if-elif-else statement
Nested if statements

In [ ]:
# i.)if Statement
# The if statement allows you to test a condition and execute code only if the condition evaluates to True.
x = 10
if x > 5:
    print("x is greater than 5")  # This will be printed because the condition is True

x is greater than 5

In [ ]:
# In this example, since x is 10, the condition x > 5 evaluates to True, so the message "x is greater than 5" is printed.

In [ ]:
#ii.)if-else Statement
# The if-else statement allows you to execute one block of code if the condition is True, and another block of code if the condition is False.
x = 3
if x > 5:
    print("x is greater than 5")
else:
    print("x is less than or equal to 5")  # This will be printed because the condition is False

x is less than or equal to 5

In [ ]:
# In this example, since x is 3, the condition x > 5 is False, so the else block is executed, and "x is less than or equal to 5" is printed.

In [ ]:
# iii.) if-elif-else Statement
# The if-elif-else statement allows you to check multiple conditions. If the first condition is False, Python checks the next condition, and so on. If none of the conditions are True, the else block is executed.
x = 7
if x > 10:
    print("x is greater than 10")
elif x == 7:
    print("x is equal to 7")  # This will be printed because the second condition is True
else:
    print("x is less than or equal to 6")

x is equal to 7

In [ ]:
# In this example, x == 7 evaluates to True, so the corresponding elif block is executed, and "x is equal to 7" is printed.

In [ ]:
# iv.)Nested if Statements
# You can also place an if statement inside another if statement. This is useful for checking multiple conditions that depend on each other.
x = 10
y = 5
if x > 0:
    if y > 0:
        print("Both x and y are positive")  # This will be printed

Both x and y are positive

In [ ]:
#In this example, since both conditions x > 0 and y > 0 are True, the nested if statement is executed, and "Both x and y are positive" is printed.

**Question 7**)Describe the different types of loops in Python and their use cases with examples.
Ans:In python loop statement allow you to execute a block of code repeatedly.There are two types of loop:
i.) While loop
ii.) For loop

In [ ]:
# i.) while loop
# while loop repeatedly executed a block of code until a conditionis met.
count = 0
while count < 5:
    print(count)
    count += 1  # Increment count to avoid an infinite loop

0
1
2
3
4

In [ ]:
# In this example, the loop runs as long as count is less than 5. After each iteration, count is incremented.

In [ ]:
n = 7
i = 1
while i < n:
  print (i)
  i = i+1
else:
  print ("This will executed when the while is run successfuly without any break")

1
2
3
4
5
6
This will executed when the while is run successfuly without any break

In [ ]:
#break terminates/exit the loop
n = 7
i = 1
while i < n:
  print (i)
  i = i+1
  if i == 3:
    break
else:
  print ("This will executed when the while is run successfuly without any break")

1
2

In [ ]:
# continue >> skip the iteration
n = 7
i = 1
while i < n:
  i = i+1
  if i == 3:
    continue
    print (i)
else:
  print ("This will executed when the while is run successfuly without any break")

This will executed when the while is run successfuly without any break

In [ ]:
# ii.)For Loop
# iterate over a sequence of elements (string,list)
for i in "pwskills":
  print (i)

p
w
s
k
i
l
l
s

In [ ]:
#example 2
l = [1,2,"Tuhin","Pwskills"]
for i in l:
  print (i)

1
2
Tuhin
Pwskills

In [ ]:
# example 3
for i in l:
  print (i)
else:
  print ("This will executed when the while is run successfuly without any break")

1
2
Tuhin
Pwskills
This will executed when the while is run successfuly without any break

In [ ]:
list (range (0,10)) # it will give value from 0 to 9

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]